@inject bit285_assignment2_login.Models.PasswordSuggetionService Suggestions
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model bit285_assignment2_login.Models.User
@{
    Layout = "_Layout";
}
<h1>Choose a Password</h1>
<fieldset>
    <form asp-action="SelectPassword">
        <div>
            <label>Password Suggestion</label>
            <input asp-for="Password" value=@Suggestions.generatePassword(Model) />
            <span>* required</span>
        </div>
        <input type="submit" value="Create Account" />
        <input type="button" value="Reset" />
        </div>
    </form>
</fieldset>
